<div class="content">
  <!-- Indicators -->
  <div class="indicators">
    <div class="card">
      <div class="circle"></div>
      <h2>Number Of Users</h2>
      <p>{{ lstUser.length }}</p>
    </div>

    <div class="card">
      <div class="circle"></div>
      <h2>Male</h2>
      <p>{{ MenPercentage() }}%</p>
    </div>

    <div class="card">
      <div class="circle"></div>
      <h2>Female</h2>
      <p>{{ WomenPercentage() }}%</p>
    </div>
  </div>

  <div class="user-info">
    <div class="card">
      <h2>Users</h2>
      <div id="user-table">
        <table>
          <tr *ngFor="let entUser of lstUser">
            <td>
              <div class="avatar">[IMG]</div>{{ entUser.name }}
            </td>
            <td>{{ entUser.age }}</td>
            <td>{{ entUser.nationality }}</td>
            <td><progress id="file" [value]="entUser.tasks.done" [max]="entUser.tasks.total">{{ (entUser.tasks.done *
                100) / entUser.tasks.total }}%</progress></td>
          </tr>
        </table>
      </div>
    </div>

    <div class="card">
      <h2>Age Of Users</h2>
      <canvas id="myChart"></canvas>
    </div>
  </div>
</div>